/* Login Page Styles */
.login-page {
	padding-top: 14vh;
	margin-bottom: 7.5%;
}
.login-page  .title {
	font-family: TradeGothicBold;
	font-size: 40px;
	text-align: center;
	color: Black;
	margin-top: 70px;
}
label {
	font-family: GillSans;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	color: White;
	width: 600px;
	margin: auto;
	margin-top: 50px;	
}
#loginform {
	width: 40%;
	margin: auto;
	margin-top: 30px;
}
#loginform label {
	color: Black;
	text-align: left;
}
#loginform input {
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: 3px solid #7C7C7C;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;	
}
#loginform input[type="text"]
{
    font-family: GillSans;
	font-weight: 500;
	font-size: 18px;
}
.forgotPass {
	font-family: GillSans;
	font-weight: bold;
	font-size: 18px;
	color: #DA291C;
	margin-top: 20px;
}
#loginform #wp-submit {
	background: #F2A900;
	border-radius: 5px;
	height: 60px;
	width: 40%;
	font-family: GillSans;
	font-weight: bold;
	font-size: 20px;
	color: White;
	margin: 10% 30%;
}
.register {
	display: block;
	text-align: center;
	font-family: GillSans;
	font-weight: 500;
	font-size: 18px;
	color: Black;
}